<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Alice's Osteopathy Clinic </title>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Alice.css" />
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
</head>

<body data-spy="scroll" data-target=".navbar">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav-bar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">Alice's Clinic</a>
            </div>

            <div class="collapse navbar-collapse" id="top-nav-bar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="about">
                            <i class="fa fa-paw" aria-hidden="true"></i> About Me
                        </a>
                    </li>
                    <li>
                        <a href="services">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Services I offer
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="contacts">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Contact me
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>