<% include partials/header %>
<section id="home">
        <div id="home_text" class="text-center">
            <h1> My Awesome Clinic </h1>
            <p class="lead">I will massage the pain away</p>
            <a class="btn btn-default" href="#contact-me">Contact me</a>
        </div>
    </section>

<% include partials/footer %>